@import '~styles/variables';

$transition-duration: 0.2s;
$sticker-size: 15rem;

.sticker {
  $self: &;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: $sticker-size;
  height: $sticker-size;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 70%);
  transform: rotate(-6deg);
  transition: transform $transition-duration linear;
  padding: 0.5rem;

  &:nth-child(even) {
    transform: rotate(4deg);
  }

  &:nth-child(3n) {
    transform: rotate(-3deg);
  }

  &:nth-child(5n) {
    transform: rotate(5deg);
  }

  &:hover,
  &:focus {
    transform: scale(1.15);
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__title {
    width: 100%;
    margin-right: 0.5rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    border: none;
    background: none;
  }

  &__controls {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity $transition_duration linear;

    #{ $self }:hover & {
      opacity: 1;
    }
  }

  &__btn {
    position: relative;
    font-weight: bold;
    font-size: 0.85rem;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.5;

    &:not(:last-child) {
      margin-right: 0.25rem;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    flex-grow: 1;
    padding: 0.25em;
    font-size: 1.25rem;
    font-family: $font-secondary;
    font-style: italic;
    border: none;
    background: inherit;
    resize: none;
    overflow: auto;
  }
}