@import '~styles/variables';
@import '~styles/mixins';

.sticker-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 3rem;
  justify-content: space-around;
  padding: 2rem;
  list-style-type: none;

  &--pinned {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    overflow-x: auto;

    @include for-size(tablet) {
      justify-content: space-around;
    }
  }
}