html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-primary);
  color: var(--color-primary);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1900px;
  width: 100%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}