html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: $font-primary;
}

body {
    background: var(--background-primary);
    color: var(--color-primary);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}