@import '~styles/_variables';

.header {
  background: var(--background-secondary);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-logo {
  font-size: 2rem;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;

  &__btn {
    color: inherit;
    font-size: 2rem;
    text-transform: uppercase;
    opacity: 0.8;
    transition: opacity 300ms ease-in;

    &:hover {
      opacity: 1;
    }
  }
}