
.icon-adjust:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */