@import '~styles/variables';

.color-picker {
  $item-size: 1.25rem;

  align-items: center;
  background-color: $color-white;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 3px rgb(33 33 33 / 70%);
  display: flex;
  padding: 0.3rem 1rem 0.3rem 0.3rem;
  position: absolute;
  right: 44px;
  top: 120%;

  &::before {
    background-color: $color-white;
    content: '';
    display: block;
    height: $item-size;
    position: absolute;
    right: 10px;
    top: -5px;
    transform: rotate(45deg);
    width: $item-size;
  }

  &__item {
    cursor: pointer;
    height: 20px;
    transform: scale(1);
    transition: scale 0.2s ease-in-out;
    width: 20px;

    &--selected,
    &:hover {
      transform: scale(1.15);
      z-index: 1;
    }
  }

  input {
    display: none;
  }
}