@import '~styles/variables';

.color-picker {
  $item-size: 1.25rem;

  position: absolute;
  top: 120%;
  right: 44px;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 0.3rem;
  border-radius: 0.25rem;
  background-color: $color-white;
  box-shadow: 2px 2px 3px rgba(33, 33, 33, 70%);

  &::before {
    content: '';
    display: block;
    width: $item-size;
    height: $item-size;
    position: absolute;
    background-color: $color-white;
    top: -5px;
    right: 10px;
    transform: rotate(45deg);
  }

  &__item {
    width: 20px;
    height: 20px;
    transform: scale(1);
    cursor: pointer;
    transition: scale 0.2s ease-in-out;

    &--selected,
    &:hover {
      transform: scale(1.15);
      z-index: 1;
    }
  }

  input {
    display: none;
  }
}