* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(244, 246, 248);
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  margin: 0 auto;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  font-size: 0.85rem;
  background: #fafbfc;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
