@font-face {
  font-weight: normal;
  font-family: 'fontello';
  font-style: normal;
  src: url('./assets/fonts/fontello.ttf?875322') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(244, 246, 248);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  font-size: 0.85rem;
  background: rgb(250, 251, 252);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;

  margin-left: 0.2em;
  font-weight: normal;
  font-family: 'fontello';
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-pin-outline:before {
  content: '\e801';
}

.icon-pin:before {
  content: '\e802';
}

.icon-trash-empty:before {
  content: '\e803';
}

.icon-plus:before {
  content: '\e806';
}

.icon-sun:before {
  content: '\f185';
}

.icon-moon:before {
  content: '\f186';
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(5, 43, 60);

  &:hover {
    background-color: rgb(179, 0, 0);
  }
}

::-webkit-scrollbar-track {
  background-color: rgb(245, 245, 245);
}